<header>
<img src="/assets/logo.png" alt="">
<input type="checkbox" id="nav-toggle" class="nav-toggle">
<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">News</a></li>
    </ul>
</nav>
<label for="nav-toggle" class="nav-toggle-label">
    <span></span>
</label>
</header>