<div class="articles ui grid">
  <div *ngFor="let article of articles" class="four wide column">
    <div class="ui card">
      <div class="content">
        <div class="right floated meta">{{article.title}}</div>
      </div>
      <div class="image">
        <img src="{{article.urlToImage}}">
      </div>
      <div class="content">
        <p>{{article.description}}</p>
        <span class="right floated">
          <i class="heart outline like icon"></i>

        </span>
        <i class="comment icon"></i>
        3 comments
      </div>
      <div class="extra content">
        <div class="ui large transparent left icon input">
          <i class="heart outline icon"></i>
          <input type="text" placeholder="Add Comment...">
        </div>
      </div>
    </div>
  </div>

</div>